{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/FAQ.css') }}">
{% endblock %}

{% block body %}
<!-- Move to up button -->
  <div style="background-color: red;color: aliceblue;">{{msg}}</div>
  <div class="scroll-button">
    <a href="#home"><i class="fas fa-arrow-up"></i></a>
  </div>
  <!-- navgaition menu -->
  <nav>
    <div class="navbar">
      <div class="logo"><a href="#">Plasma Bank</a></div>
      <ul class="menu">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#product">Categories</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="{{ url_for('signup') }}">Signup</a>
          </li>
          <li><a href="{{ url_for('login') }}">Login</a>
          </li>

          <div class="cancel-btn">
            <i class="fas fa-times"></i>
          </div>
      </ul>
      <!-- <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div> -->
    </div>
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </nav>

<!-- Home Section Start -->
 <section class="home" id="home">
   <div class="home-content">
     <div class="text">
       <div class="text-one">Welcome,</div>
       <div class="text-two">Plasma Bank</div>
       <div class="text-three">Donate Blood, Save Life</div>
       <div class="text-four">From India</div>
     </div>
     <div class="button">
       <a href="/login"><button>Donate Now</button></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/login"><button>Need Plasma</button></a>
     </div>
   </div>
 </section>

<!-- About Section Start -->
<section class="about" id="about">
  <div class="content">
    <div class="title"><span>About Us</span></div>
  <div class="about-details">
    <div class="left">
      <img src="static/images/home_pic1.jpg" style="height: 100%; width: 100%;" alt="">
    </div>
    <div class="right" style="padding-left: 70px;">
      <div class="topic">Plasma Bank Info</div>
      <p>We aim to provide prompt, economical and reliable services of the safest blood and other blood products like RBCs, Platelets, et. Offering the industry-leading, advanced technology and well-equipped inventory. We make all types of blood available for the patients and many hospitals. We contribute in saving many lives in the time of need or in an emergency.</p>
      <div class="button">
        
      </div>
    </div>
  </div>
  </div>
</section>



<!-- My Skill Section Start -->
<!-- Section Tag and Other Div will same where we need to put same CSS -->


<!-- My Services Section Start -->
 <section class="services" id="product">
   <div class="content">
     <div class="title"><span>Categories</span></div>
     <div class="boxes">
       <div class="box">
         <div class="icon">
          <i class="fa fa-heartbeat"></i>
       </div>
       <div class="topic">Whole Blood Donation</div>
       <p>Whole blood is the most flexible type of donation. It can be transfused in its original form, or used to help multiple people when separated into its specific components of red cells, plasma and platelets.</p>
     </div>
       <div class="box">
         <div class="icon">
           <i class="fa fa-car"></i>
       </div>
       <div class="topic">Power Red Donation</div>
       <p>During a Power Red donation, you give a concentrated dose of red cells, the part of your blood used every day for those needing transfusions as part of their care. This type of donation uses an automated process that separates your red blood cells from the other blood components, 
         </p>
     </div>
       <div class="box">
         <div class="icon">
           <i class="fa fa-home"></i>
       </div>
       <div class="topic">Platelet Donation</div>
       <p>In a platelet donation, an apheresis machine collects your platelets along with some plasma, returning your red cells and most of the plasma back to you. A single donation of platelets can yield several transfusable units, whereas it takes about five whole blood donations to make up a single transfusable unit of platelets.      </p>
     </div>
       <div class="box">
         <div class="icon">
           <i class="fa fa-plug"></i>
       </div>
       <div class="topic">Plasma Donation</div>
       <p>During an AB Elite donation, you give plasma, a part of your blood used to treat patients in emergency situations. AB plasma can be given to anyone regardless of their blood type. Plasma is collected through an automated process that separates plasma from other blood components,       </p>
     </div>
       <div class="box">
         <div class="icon">
           <i class="fab fa-android"></i>
       </div>
       <div class="topic">About Blood Types</div>
       <p>There are actually more than 8 different blood types, some of which are not compatible with each other. Find out how your blood type can help hospital patients in need of a transfusion.      </p>
     </div>
       <div class="box">
         <div class="icon">
           <i class="fa fa-cart-plus"></i>
       </div>
       <div class="topic">About Blood Components</div>
       <p>During medical treatment, patients may receive whole blood or just the specific blood components they need. Learn more about how blood components impact patient transfusions.      </p>
     </div>
   </div>
   </div>
</section>



<div class="section" id="faq">
        <div class="content">
          <h1 class="title">FAQ Section</h1>
          <div class="container-1">
  
              <div class="faq">
                  <div class="question">
                      <h2>Who can donate?</h2>
                      <i class="fa fa-arrow-circle-o-right"></i>
                  </div>
                  <div class="answer">
                      <p>Generally, plasma donors must be 18 years of age and weigh at least 110 pounds (50kg). All individuals must pass two separate medical examinations, a medical history screening and testing for transmissible viruses, before their donated plasma can be used to manufacture plasma protein therapies.</p>
                  </div>
              </div>
  
              <div class="faq">
                  <div class="question">
                      <h2>Does it hurt?</h2>
                      <i class="fa fa-arrow-circle-o-right"></i>
                  </div>
                  <div class="answer">
                      <p>Most people compare the feeling of the needle to a mild bee sting. You will also be required to submit to a finger stick test each time you donate so the collection center medical staff can evaluate your protein and hemoglobin levels.                      </p>
                  </div>
              </div>
  
              <div class="faq">
                  <div class="question">
                      <h2>Is donating plasma safe?                      </h2>
                      <i class="fa fa-arrow-circle-o-right"></i>
                  </div>
                  <div class="answer">
                      <p>Yes. Plasma donation in IQPP certified collection centers is performed in a highly controlled, sterile environment by professionally trained medical staff. All plasma collection equipment is sterilized and any equipment that comes into contact with you is used only once to eliminate the possibility of transmitting viral infections.
                      </p>
                  </div>
              </div>
  
          </div></div>

        <div class="container-2">

            <div class="faq">
                <div class="question">
                    <h2>How long does it take?
                    </h2>
                    <i class="fa fa-arrow-circle-o-right"></i>
                </div>
                <div class="answer">
                    <p>Your first donation will take approximately 2 hours. Return visits on average take about 90 minutes.
                    </p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h2>What do you do with my plasma?
                    </h2>
                    <i class="fa fa-arrow-circle-o-right"></i>
                </div>
                <div class="answer">
                    <p>Nearly 500 different types of proteins have been found in human blood plasma. Approximately 150 of these may be used for diagnosing disease or manufacturing therapies.
                    </p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h2>What type of medical screening and testing is done?
                    </h2>
                    <i class="fa fa-arrow-circle-o-right"></i>
                </div>
                <div class="answer">
                    <p>You must have a pre-donation physical which includes answering medical history questions, tests for viruses such as HIV and Hepatitis and evaluating your protein and hemoglobin levels.
                    </p>
                </div>
            </div>

        </div>

    </div>


<!--<section class="contact" id="contact">
  <div class="content">
    <div class="title"><span>click button </span></div>
    <div class="text">
      
      <div class="button">
        <p><a href="../register.html"><button>register now</button></a></p>
        
      </div>
    </div>
  </div>
</section>
<br>
<br>-->


<!--<section class="contact" id="contact">
  <div class="content">
    <div class="title"><span>click button </span></div>
    <div class="text">
      
      <div class="button">
        <p><a href="../Customer Care Registry/login.html"><button>Sign up</button></a></p>
        
      </div>
    </div>
  </div>
</section>
<br>
<br>-->


<!-- Contact Me section Start -->
<section class="contact" id="contact">
  <div class="content">
    <div class="title"><span>Contact Us</span></div>
    <div class="text">
      <div class="button">
        <button>Let's Chat</button>
        <br><br>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f" style="font-size: 30px;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#"><i class="fab fa-twitter" style="font-size: 30px;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#"><i class="fab fa-instagram" style="font-size: 30px;"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Footer Section Start -->
<footer>
  <div class="text">
    <span>Created By   </span>
    <br>
    <span>Praveenkumar.S   |</span>
    <span>Sangeeth Kumar P  |</span>
    <span>Tharani N P  |</span>
    <span>Vaishnavi.S</span>
  </div>
</footer>
  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "0032bdd2-5b59-4312-a00c-cece7ea268f0", // The ID of this integration.
      region: "au-syd", // The region your integration is hosted in.
      serviceInstanceID: "30b01793-f193-4ada-a147-4610ae753688", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });

    // Sticky Navigation Menu JS Code
let nav = document.querySelector("nav");
let scrollBtn = document.querySelector(".scroll-button a");
console.log(scrollBtn);
let val;
window.onscroll = function() {
  if(document.documentElement.scrollTop > 20){
    nav.classList.add("sticky");
    scrollBtn.style.display = "block";
  }else{
    nav.classList.remove("sticky");
    scrollBtn.style.display = "none";
  }

}

// Side NavIgation Menu JS Code
let body = document.querySelector("body");
let navBar = document.querySelector(".navbar");
let menuBtn = document.querySelector(".menu-btn");
let cancelBtn = document.querySelector(".cancel-btn");
menuBtn.onclick = function(){
  navBar.classList.add("active");
  menuBtn.style.opacity = "0";
  menuBtn.style.pointerEvents = "none";
  body.style.overflow = "hidden";
  scrollBtn.style.pointerEvents = "none";
}
cancelBtn.onclick = function(){
  navBar.classList.remove("active");
  menuBtn.style.opacity = "1";
  menuBtn.style.pointerEvents = "auto";
  body.style.overflow = "auto";
  scrollBtn.style.pointerEvents = "auto";
}

// Side Navigation Bar Close While We Click On Navigation Links
let navLinks = document.querySelectorAll(".menu li a");
for (var i = 0; i < navLinks.length; i++) {
  navLinks[i].addEventListener("click" , function() {
    navBar.classList.remove("active");
    menuBtn.style.opacity = "1";
    menuBtn.style.pointerEvents = "auto";
  });
}


//faq



const question = document.querySelectorAll('.faq');

question.forEach(faq => {
    faq.addEventListener("click", () => {
        faq.classList.toggle("active");
    })
})
</script>
{% endblock %}