<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/reg.css') }}" /> 
</head>
<body>
    

<div class="container" id="container">
	<div class="form-container sign-up-container">
		
	</div>
	<div class="form-container sign-in-container">
		<form action="{{ url_for('register') }}" method="post">
			<h1>Register now</h1><br>
			
			
            <input type="text" placeholder="name"  name="uname"/>
			<input type="email" placeholder="Email" name="email"/>
            <input type="text" placeholder="phone no" name="phone"/>
			<input type="password" placeholder="creat new Password" name="password"/>
            <input type="password" placeholder="Confirm new Password" />
			<input type="text" name="bloodgroup" placeholder="Your Blood Group">
			<p>Already have an account <a href="{{ url_for('login') }}">login</a></p>
            <br>
			<button type="submit">register</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				
			
			</div>
			<div class="overlay-panel overlay-right">
				<h1>I'm Admin!</h1>
				<p>Enter your personal details and start journey </p>
				<img src="static/images/admin.png" width="200px">
			</div>
		</div>
	</div>
</div>


	
</body>
