<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/login.css') }}" /> 
</head>
<body>


<div class="container" id="container">
	<div class="form-container sign-up-container">
		
	</div>

    <div class="form-container sign-in-container" style="margin-top: 100px; margin-left: 200px;">        
        <h1 style="text-align: center;">Thanks for your contribution.</h1><br><br>
        <img src="../static/images/thanks.jpg" alt="" style="height: 200px; width: 200px; margin-left: 100px;"><br>
		<a href="/">Back to home</a>
    </div>
    <div class="overlay-container">
		<!-- <div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>You Have got a result.</p>
                 <div style="height: 100px; width: 100px; border: 2px solid black; background-image: url('../static/images/happy.jpg');"></div>
				<img src="../static/images/happy.jpg" width="200px">
			</div>
		</div> -->
	</div>
    </div>
</html>